@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: theme(colors.primary.950);
}

.separator {
  font-family: 'Inter', 'sans-serif';
  color: #a5a5a5;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #a5a5a5;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.input-field {
  font-family: 'Inter', 'sans-serif';
  background-color: #FFF;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid theme(colors.neutral.gray.200); /* Change this line */
  color: theme(colors.primary.700);
  resize: none;
}

.primary-buttons {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;

  height: 60px;
  border-radius: 100px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px;
  background-color: theme(colors.primary.500);
  color: theme(colors.neutral.white);
}

.primary-buttons::before {
  content: '';
  width: 0;
  height: 100%;
  border-radius: 101px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, theme(colors.primary.900) 0%, theme(colors.primary.700) 100%);
  transition: .5s cubic-bezier(.31,.12,.33,1);
  display: block;
  z-index: -1;
}

.primary-buttons:hover::before {
  /* https://uiverse.io/xueyuantan/rotten-pig-19 */
  width: 100%;
}

.primary-buttons:hover {
  color: theme(colors.primary.200);
  transition: .5s cubic-bezier(.31,.12,.33,1);
}

.secondary-buttons {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;

  height: 60px;
  border: solid;
  border-width: 1px;
  border-radius: 100px;
  border-color: theme(colors.primary.200);
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px;
  background-color: theme(colors.white);
  color: theme(colors.secondary.500);
}

.secondary-buttons::before {
  content: '';
  width: 0;
  height: 100%;
  border-radius: 101px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, theme(colors.secondary.600) 0%, theme(colors.secondary.600) 100%);
  transition: .5s cubic-bezier(.31,.12,.33,1);
  display: block;
  z-index: -1;
}

.secondary-buttons:hover::before {
  /* https://uiverse.io/xueyuantan/rotten-pig-19 */
  width: 100%;
}

.secondary-buttons:hover {
  color: theme(colors.neutral.white);
  border-color: rgba(255, 0, 0, .0);
  transition: .5s cubic-bezier(.31,.12,.33,1);
}

.button-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  color: theme(colors.primary.700);
  transition: color 0.25s ease-out;
}

/* Style for non-selected items */
.button-underline:not(.selected)::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: theme(colors.primary.700);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-underline:not(.selected):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Style for selected items */
.button-underline.selected {
  position: relative;
  color: theme(colors.primary.700);
}

.button-underline.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: theme(colors.primary.700);
  transform: scaleX(1);
}

/* Prevent hover effect on selected items */
.button-underline.selected:hover::after {
  transform: scaleX(1);
}