@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: theme(colors.primary);
  background: theme(colors.secondary);
}

.separator {
  font-family: 'Inter', 'sans-serif';
  color: #a5a5a5;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #a5a5a5;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.input-field {
  font-family: 'Inter', 'sans-serif';
  background-color: #FFF;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  color: theme(colors.accent.600);
}

.primary-buttons {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;

  height: 60px;
  border-radius: 20px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px;
  background-color: theme(colors.accent.300);
  color: theme(colors.accent.600);
}

.primary-buttons::before {
  content: '';
  width: 0;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, theme(colors.accent.600) 0%, theme(colors.accent.900) 100%);
  transition: .5s cubic-bezier(.31,.12,.33,1);
  display: block;
  z-index: -1;
}

.primary-buttons:hover::before {
  /* https://uiverse.io/xueyuantan/rotten-pig-19 */
  width: 100%;
}

.primary-buttons:hover {
  color: theme(colors.primary);
  transition: .5s cubic-bezier(.31,.12,.33,1);
}

.secondary-buttons {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;

  height: 60px;
  border-radius: 20px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 10px;
  background-color: theme(colors.white);
  color: theme(colors.accent.900);
}

.secondary-buttons::before {
  content: '';
  width: 0;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, theme(colors.accent.600) 0%, theme(colors.accent.900) 100%);
  transition: .5s cubic-bezier(.31,.12,.33,1);
  display: block;
  z-index: -1;
}

.secondary-buttons:hover::before {
  /* https://uiverse.io/xueyuantan/rotten-pig-19 */
  width: 100%;
}

.secondary-buttons:hover {
  color: theme(colors.primary);
  transition: .5s cubic-bezier(.31,.12,.33,1);
}

.button-underline {
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  color: theme(colors.accent.900);
}

.button-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: theme(colors.accent.900);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}